
.contact-section ul {
padding:0;
margin:0;

}
.icon-list ul {
padding:0;
padding-bottom:10px;
}
.icon-list li {
list-style: none;
padding-left:40px;
}
.icon-list li
 {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: left center;
}
.icon-list li:first-child {
  background-image: url("https://cdn.shopify.com/s/files/1/0737/9858/2437/files/space-grade.svg?v=1772745067");
}
.icon-list li:nth-child(2) {
  background-image: url("https://cdn.shopify.com/s/files/1/0737/9858/2437/files/profes-sprt.svg?v=1772745067");
}
.icon-list li:last-child {
  background-image: url("https://cdn.shopify.com/s/files/1/0737/9858/2437/files/tools.svg?v=1772745067");
}


.professional-section {
  padding: 80px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.professional-section .left-col {
  width: 70%; 
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.professional-section .main-heading {
  font-size: 72px;
  line-height: 80px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1%;
  font-style: normal;
  margin: 0;
}

.professional-section .underline-heading {
  font-size: 72px;
  line-height: 80px;
  font-weight: 400;
  color: #93A5A6;
  letter-spacing: -1%;
  font-style: normal;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* DESCRIPTION */
.professional-section .desc-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  max-width: 750px;
}

/* BUTTON WRAP */
.support-service-btn {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

/* BUTTONS */
.support-service-btn .btn1,
.support-service-btn .btn2 {
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  display: inline-block;
}

.support-service-btn .btn1 {
  background: #ffffff;
  color: #002063;
}

.support-service-btn .btn2 {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}